<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <address>
                        <strong>Best Cars</strong><br>
                            1234 ABC Street<br>
                            Four Wheels, Alaska 99999<br>
                        <abbr title="Phone">Phone:</abbr> (123) 456-7890
                    </address>
                </div>
            </div>
        </div>

        <!--Add a nav bar here -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../about">Home</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>           
            </div>
        </nav>


        <!-- Add reviews as cards -->

    </body>

</html>